button, label, image {
    background: none;
    border-style: none;
    box-shadow: none;
    color: rgb(200, 100, 200);
}

button {
    padding: 5px;
    margin: 5px
}

button:hover {
    background-color: rgba (60, 20, 150, 0.5);
}

button:focus {
    box-shadow: 0 0 2px;
}

#searchbox {
    background: none;
    border-color: rgb(200, 100, 200);
    color: rgb(200, 100, 200);
    margin-top: 20px;
    margin-bottom: 20px
}

#separator {
    background-color: rgba(200, 200, 200, 0.5);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 10px;
    margin-bottom: 10px
}

#description {
    margin-bottom: 20px
}
